<%- include("partials/header") -%>

<style>
    .welcome {
        margin-bottom: 30px;
    }
</style>

<div class="row">

    <div class="col-md-8 col-md-offset-2 conForm">


        <h3 class="welcome"> Welcome To login Page </h3>
        <h4 class="welcome"> You don't have an account Register Now to enjoy all the features <a
                href="/register">Register Now </a> </h4>
        <div id="message">
            <%- include("partials/messages") -%>
        </div>
        <form method="post" action="/login" name="cform" id="cform">
            <input type="email" name="username" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr"
                placeholder="Enter Votre Email">
            <input type="password" name="password" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                placeholder="Enter password">
            <input type="submit" class="submitBnt" value="Login">
            <div id="simple-msg"></div>

        </form>
    </div>
</div>



<!-- Footer section -->
<%- include("partials/footer") -%>

<!-- End footer -->