<%- include("partials/header") -%>

<!-- gallery section -->
<section id="gallery" class="gallery section">
    <div class="container-fluid">
      <div class="section-header">
                  <h2 class="wow fadeInDown animated">Musiques</h2>
                  <p class="wow fadeInDown animated">Toutes les musiques recentes</p>
              </div>
              <%- console.log(musics) -%> 
              <div class="row no-gutter">
           <%  musics.forEach(music => {  %>
           
    
    <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="musiques/<%= music._id%>" class="work-box"> <img src="<%= music.img %>" alt="">
      <div class="overlay">
        <div class="overlay-caption">
          <p><span class="icon icon-magnifying-glass"></span></p>
        </div>
      </div> 
      <!-- overlay --> 
      </a> </div> 
             
  
          <%  }) %> 
      
        </div>
          
    
    </div>
  </section>
  



< %- include("partials/footer") -%>
<!-- End footer -->